{% extends 'base.html' %}

{% block main %}
    <div class="container">
    Рыба Текст:
    <p>
    Но интерактивные прототипы объединены в целые кластеры себе подобных.
    Задача организации, в особенности же дальнейшее развитие различных форм
    деятельности не даёт нам иного выбора, кроме определения соответствующих
    условий активизации. Как уже неоднократно упомянуто, действия представителей
    оппозиции могут быть заблокированы в рамках своих собственных
    рациональных ограничений.
    </p>
    </div>
{% endblock %}